<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceaf6a">  <td>19/11/18 13:52:52</td>   <td>0</td> <td title="&gt;&gt;TestBase.setExtent()[pri:0, instance:SRP.srp_qa_3@72d818d1]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>19/11/18 13:52:52</td>   <td>743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="srp_qa_3.POST_authentication(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:SRP.srp_qa_3@72d818d1]">POST_authentication</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>19/11/18 13:52:57</td>   <td>5220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="srp_qa_3.put_createorder(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:SRP.srp_qa_3@72d818d1]">put_createorder</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>19/11/18 13:52:58</td>   <td>6399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="srp_qa_3.post_confirmorder(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:SRP.srp_qa_3@72d818d1]">post_confirmorder</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>19/11/18 13:53:04</td>   <td>11945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="srp_qa_3.post_querytxn(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:SRP.srp_qa_3@72d818d1]">post_querytxn</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>19/11/18 13:53:05</td>   <td>13141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="srp_qa_3.post_validatetxn(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:SRP.srp_qa_3@72d818d1]">post_validatetxn</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>19/11/18 13:53:06</td>   <td>13964</td> <td title="&lt;&lt;TestBase.endReport()[pri:0, instance:SRP.srp_qa_3@72d818d1]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25548982</td>   <td></td> </tr>
</table>
