<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.goswych.capex.RX_CAPEXTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getBalance</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postSuggestedRate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>putCreateOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getCatalog</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
