<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fd62e5">  <td>19/11/18 14:55:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RX_CAPEXTest.getBalance()[pri:2, instance:com.goswych.capex.RX_CAPEXTest@75f9eccc]">getBalance</td> 
  <td>main@1197365356</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>19/11/18 14:55:20</td>   <td>666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RX_CAPEXTest.getCatalog()[pri:3, instance:com.goswych.capex.RX_CAPEXTest@75f9eccc]">getCatalog</td> 
  <td>main@1197365356</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>19/11/18 14:55:16</td>   <td>-3932</td> <td>&nbsp;</td><td title="&gt;&gt;RX_CAPEXTest.postAuthen()[pri:0, instance:com.goswych.capex.RX_CAPEXTest@75f9eccc]">&gt;&gt;postAuthen</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1197365356</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>19/11/18 14:55:22</td>   <td>2136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RX_CAPEXTest.postSuggestedRate()[pri:4, instance:com.goswych.capex.RX_CAPEXTest@75f9eccc]">postSuggestedRate</td> 
  <td>main@1197365356</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>19/11/18 14:55:17</td>   <td>-2922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RX_CAPEXTest.putCreateOrder()[pri:1, instance:com.goswych.capex.RX_CAPEXTest@75f9eccc]">putCreateOrder</td> 
  <td>main@1197365356</td>   <td></td> </tr>
</table>
